<!DOCTYPE html>
<html style="font-family:verdana;" lang="en">
<head>
    <title> room with pc designs</title>
</head>

<body style="background-color:#3399ff;">
    <blockquote>
<h1 style="text-align:center;">COOL ROOM SETUPS </h1>
        <p>Hello there! </p>
<ul>  <li style="color:green;">is your room messy?<br></li>
    <li style="color :red;">is your room too annoying to focus in?<br></li>
    <li style="color :	#44A511;">do you want to turn over a new leaf and organize your room to perfections?</li>
    </ul>
        <p>well dear! you have come to the right place!!
    ENJOY!</p>
<p>This web is written for <del>business</del><br> This web is written for comfort</p>
<p>if you would like to venture into videos ,
    we have just the right place for you <a href="https://www.youtube.com/results?search_query=cool+room+setups" target="_blank">click here</a></p>
<hr>
<h2 style="text-align:center;"> ROOM SETUP 1:</h2>
    <a href="https://www.pinterest.com/pin/716987203171461592/" target="_blank"> <img src='https://i.pinimg.com/originals/e2/1d/a0/e21da08fe89276291bc3db428b324aa5.png' alt="sick room damn" width="700" height="500"/> </a>
<hr>
<h2 style="text-align:center;"> ROOM SETUP 2:</h2>
<a href="https://www.pinterest.com/pin/716987203171461592/" target="_blank"> <img src="https://i.pinimg.com/originals/9a/2f/5b/9a2f5bf7c18d2e253c4601f25fafdecf.jpg" /></a>
<hr>
<h2 style="text-align:center;"> ROOM SETUP 3:</h2>
<img src="https://i.pinimg.com/originals/94/dc/83/94dc83111a5a18e0d3ccadaeeb21f004.jpg"/>
<hr style="text-align:center;">
<h2  style="text-align:center;"> ROOM SETUP 4:</h2>
<img src="https://i.pinimg.com/originals/ae/d1/c7/aed1c771eec4b2d6fab3e6d522eda884.jpg" height="900" width="800"/>
<hr>
<h2 style="text-align:center;"> ROOM SETUP 5:</h2>
<img src="https://i.pinimg.com/originals/9a/2f/5b/9a2f5bf7c18d2e253c4601f25fafdecf.jpg"/>
<hr>
<h2 style="text-align:center;"> ROOM SETUP 6:</h2>
<img src="https://homebnc.com/homeimg/2015/12/09-game-corner-homebnc1.jpg"/>
<hr>
<h2  style="text-align:center;"> ROOM SETUP 7:</h2>
<img src="https://i.pinimg.com/originals/17/36/4d/17364d26b5a005ab4e1e5d9147f48cf1.jpg" height="900" width="900" />
<hr>
<h3>If you would like to contact us please enter your details and make an account</h3>
        <blockquote><form>
            <label>First name:</label>
            <input type="text" name="First name"><br><br>
            <label>Last name:</label>
            <input type="text" name="Last name"><br><br>
            <label>Age:</label>
            <input type="number" name="Age" value="30"><br><br>
            <label>Feedback:</label>
            <textarea></textarea><br><br>
            <label>Birthday:</label>
            <input type="date" name="Birthday" value="Birthday">
            <label>gender:</label>
            <select>
            <option>male:</option>
            <option>female:</option>
                </select><br><br>
            <input name="submit" type="submit" value="submit">
        </form></blockquote>
</blockquote>
    </body>
<!-- https://image.shutterstock.com/image-vector/pencil-260nw-152521652.jpg -->
</html>